.box {
  display: flex;
}
.mainBox {
  width: 100%;
  min-width: 300px;
  height: 100vh;
}
.header {
  padding: 15px 20px 15px 20px;
  display: flex;
  align-items: center;
  background-color: #5f2eea;
  justify-content: space-between;
}
.search {
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 2px solid #5f2eea;
  padding: 6px 15px 6px 15px;
  height: 15px;
  width: 35%;
  background-color: #5f2eea;
}
.searchActive {
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 2px solid #5f2eea;
  padding: 6px 15px 6px 15px;
  height: 15px;
  width: 35%;
  background-color: #fcfcfc;
}
.searchIconIn {
  color: #a0a3bd;
  align-self: center;
  display: flex;
  margin-right: 10px;
}
.searchIcon {
  color: #a0a3bd;
  align-self: center;
  display: flex;
  margin-right: 10px;
}
.settingsIcon {
  height: 28px;
  display: flex;
  margin-right: 25px;
}
.settingsIcon:hover {
  filter: drop-shadow(0px 0px 20px #ffffff) invert(90%);
}
.profileIcon {
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 25px;
}
.bellIcon {
  display: flex;
  margin-right: 25px;
}
.bellIcon:hover {
  filter: drop-shadow(0px 0px 20px #ffffff) invert(90%);
}
.headerIcons {
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: space-between;
}
.searchBar {
  border: none;
  outline: none;
  border-radius: 16px;
  font-size: 16px;
  width: 100%;
  background-color: #5f2eea;
}
.searchBarActive {
  border: none;
  outline: none;
  border-radius: 16px;
  font-size: 16px;
  width: 100%;
  background-color: #fcfcfc;
}
