.sideBar {
  max-width: 300px;
  min-width: 300px;
  background-color: #f3f3f3;
}
.title {
  font-size: 24px;
  text-align: center;
  color: #6d6d6d;
  margin-top: 20px;
}
.underTitle {
  margin-top: 35px;
  padding-left: 20px;
  color: #6e7191;
  letter-spacing: 1px;
}
.categories {
  margin-top: 10px;
  color: #6e7191;
  padding: 10px;
}
.catalog {
  line-height: 27px;
  height: inherit;
}
.bottom {
  position: absolute;
  bottom: 0;
  padding-left: 22px;
  line-height: 40px;
  color: #4e4b66;
  font-size: 16px;
  font-weight: 600;
}
.checkIcon {
  margin-right: 8px;
}
.checkIconBottom {
  margin-right: 10px;
}
